src/node-red/flows.json
[
    { "id": "10842f61.22bf81", "type": "tab", "label": "Temperature", "disabled": false, "info": "" },
    { "id": "6bebbd23.6d57e4", "type": "tab", "label": "Ventillation", "disabled": false, "info": "" },
    { "id": "cbbff5e9.216548", "type": "tab", "label": "Weather", "disabled": false, "info": "" },
    { "id": "c1c0d025.7190c", "type": "tab", "label": "Blinds", "disabled": false, "info": "" },
    { "id": "34d5b010.8abea", "type": "tab", "label": "Test", "disabled": false, "info": "" },
    {
        "id": "13cbf77f.87a069",
        "type": "subflow",
        "name": "Recu get | InfluxDb",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            { "name": "fieldName", "type": "str", "value": "" },
            { "name": "measurementName", "type": "str", "value": "" }
        ],
        "color": "#DDAA99"
    },
    {
        "id": "49824722.da0c98",
        "type": "influxdb",
        "z": "",
        "hostname": "wyse",
        "port": "8086",
        "protocol": "http",
        "database": "sensors",
        "name": "sensorsDb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "8ed427c6.e1f408",
        "type": "komfoventConfig",
        "z": "",
        "displayName": "recuperator",
        "siteName": "home",
        "ip": "192.168.1.127"
    },
    {
        "id": "190e1795.e65c88",
        "type": "mqtt-broker",
        "z": "",
        "name": "ampio",
        "broker": "192.168.1.104",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f43e9898.ccfe78",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87C4",
        "ioid": "1",
        "name": "salon temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 200,
        "y": 140,
        "wires": [["140219cf.7ee416"]]
    },
    {
        "id": "f707e198.39005",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "salon/temp",
        "measurement": "salon/temp",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "140219cf.7ee416",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 140,
        "wires": [["f707e198.39005"]]
    },
    {
        "id": "eadddd04.e7153",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87C5",
        "ioid": "1",
        "name": "blanka temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 200,
        "wires": [["2e0aad58.2ee5b2"]]
    },
    {
        "id": "a178a4cf.15cdd8",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87C5",
        "ioid": "2",
        "name": "leon temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 200,
        "y": 260,
        "wires": [["621109b0.dac948"]]
    },
    {
        "id": "2232900.169eb7",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87C5",
        "ioid": "3",
        "name": "hol pietro temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 220,
        "y": 320,
        "wires": [["66b28a55.eb5eb4"]]
    },
    {
        "id": "2e0aad58.2ee5b2",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 200,
        "wires": [["e8d71d3c.b90ce"]]
    },
    {
        "id": "621109b0.dac948",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 260,
        "wires": [["9138a6d4.23fa68"]]
    },
    {
        "id": "66b28a55.eb5eb4",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 320,
        "wires": [["c6d93116.d533b"]]
    },
    {
        "id": "e8d71d3c.b90ce",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "blanka/temp",
        "measurement": "blanka/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "9138a6d4.23fa68",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "leon/temp",
        "measurement": "leon/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "c6d93116.d533b",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "holpietro/temp",
        "measurement": "holpietro/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "54df81f6.05d71",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87C7",
        "ioid": "1",
        "name": "entrance temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 220,
        "y": 380,
        "wires": [["ec2a3d85.ec911"]]
    },
    {
        "id": "ec2a3d85.ec911",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 380,
        "wires": [["27af2d3f.8deae2"]]
    },
    {
        "id": "27af2d3f.8deae2",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "entrance/temp",
        "measurement": "entrance/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "b5f6da6.7b28928",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87C4",
        "ioid": "1",
        "name": "bedroom temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 220,
        "y": 440,
        "wires": [["af60897c.3c0948"]]
    },
    {
        "id": "af60897c.3c0948",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 440,
        "wires": [["7d65adb3.36d104"]]
    },
    {
        "id": "7d65adb3.36d104",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "bedroom/temp",
        "measurement": "bedroom/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "25cce99e.872b16",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87CC",
        "ioid": "1",
        "name": "bath1 temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 500,
        "wires": [["175ac69e.6f9019"]]
    },
    {
        "id": "175ac69e.6f9019",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 500,
        "wires": [["19df3457.7824fc"]]
    },
    {
        "id": "19df3457.7824fc",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "bath1/temp",
        "measurement": "bath1/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 590,
        "y": 500,
        "wires": []
    },
    {
        "id": "53a254ad.33559c",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87CC",
        "ioid": "2",
        "name": "laundry temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 560,
        "wires": [["20bf8fd8.b42b"]]
    },
    {
        "id": "20bf8fd8.b42b",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 560,
        "wires": [["1ac822d4.90b82d"]]
    },
    {
        "id": "1ac822d4.90b82d",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "laundry/temp",
        "measurement": "laundry/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 590,
        "y": 560,
        "wires": []
    },
    {
        "id": "3e7f6663.c0c76a",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87D2",
        "ioid": "1",
        "name": "bath0 temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 620,
        "wires": [["dba9e241.b318"]]
    },
    {
        "id": "dba9e241.b318",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 620,
        "wires": [["adfc3690.a78498"]]
    },
    {
        "id": "adfc3690.a78498",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "bath0/temp",
        "measurement": "bath0/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "ca61a383.8a8ac",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87D2",
        "ioid": "2",
        "name": "guest temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 680,
        "wires": [["a1ed3c2d.5a096"]]
    },
    {
        "id": "a1ed3c2d.5a096",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 680,
        "wires": [["98c50c4.f868af"]]
    },
    {
        "id": "98c50c4.f868af",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "guest/temp",
        "measurement": "guest/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 590,
        "y": 680,
        "wires": []
    },
    {
        "id": "c4146472.63fcc8",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87D2",
        "ioid": "3",
        "name": "store temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 200,
        "y": 740,
        "wires": [["4e143925.5883a8"]]
    },
    {
        "id": "4e143925.5883a8",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 740,
        "wires": [["2c048d4c.dd2582"]]
    },
    {
        "id": "2c048d4c.dd2582",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "store/temp",
        "measurement": "store/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 590,
        "y": 740,
        "wires": []
    },
    {
        "id": "d29847a5.a8ca78",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "o",
        "mac": "87C4",
        "ioid": "2",
        "name": "guest valve",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 1080,
        "wires": [["8f2dabda.167358"]]
    },
    {
        "id": "68c316a.b1df1e8",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "o",
        "mac": "87C4",
        "ioid": "1",
        "name": "garage valve",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 1140,
        "wires": [["21494f53.6fc29"]]
    },
    {
        "id": "7151fd45.0d25b4",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "o",
        "mac": "87C4",
        "ioid": "3",
        "name": "bath0 valve",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 1200,
        "wires": [["523a68e9.6be988"]]
    },
    {
        "id": "844d5d80.248ea",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "o",
        "mac": "87C4",
        "ioid": "4",
        "name": "living valve",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 200,
        "y": 1260,
        "wires": [["16d502cc.3564ad"]]
    },
    {
        "id": "f5efc276.de675",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "o",
        "mac": "87C4",
        "ioid": "5",
        "name": "entrance valve",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 220,
        "y": 1320,
        "wires": [["edacb152.9a455"]]
    },
    {
        "id": "82a04fe3.fa582",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "o",
        "mac": "87C4",
        "ioid": "6",
        "name": "bath1 valve",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 1380,
        "wires": [["c60c7a7b.255c48"]]
    },
    {
        "id": "9d55fbfc.7593f8",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "guest/heat/valve",
        "measurement": "guest/heat/valve",
        "precision": "",
        "retentionPolicy": "",
        "x": 600,
        "y": 1080,
        "wires": []
    },
    {
        "id": "13103d8d.a722c2",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "bath0/heat/valve",
        "measurement": "bath0/heat/valve",
        "precision": "",
        "retentionPolicy": "",
        "x": 610,
        "y": 1200,
        "wires": []
    },
    {
        "id": "947ebe34.e2",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "living/heat/valve",
        "measurement": "living/heat/valve",
        "precision": "",
        "retentionPolicy": "",
        "x": 600,
        "y": 1240,
        "wires": []
    },
    {
        "id": "542b3ba7.37cbd4",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "entrance/heat/valve",
        "measurement": "entrance/heat/valve",
        "precision": "",
        "retentionPolicy": "",
        "x": 610,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7b7cad76.d71504",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "bath1/heat/valve",
        "measurement": "bath1/heat/valve",
        "precision": "",
        "retentionPolicy": "",
        "x": 610,
        "y": 1360,
        "wires": []
    },
    {
        "id": "59b9beee.82c55",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "garage/heat/valve",
        "measurement": "garage/heat/valve",
        "precision": "",
        "retentionPolicy": "",
        "x": 610,
        "y": 1140,
        "wires": []
    },
    {
        "id": "8f2dabda.167358",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 1080,
        "wires": [["9d55fbfc.7593f8"]]
    },
    {
        "id": "21494f53.6fc29",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 1120,
        "wires": [["59b9beee.82c55"]]
    },
    {
        "id": "523a68e9.6be988",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 1180,
        "wires": [["13103d8d.a722c2"]]
    },
    {
        "id": "16d502cc.3564ad",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 1240,
        "wires": [["947ebe34.e2"]]
    },
    {
        "id": "edacb152.9a455",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 1300,
        "wires": [["542b3ba7.37cbd4"]]
    },
    {
        "id": "c60c7a7b.255c48",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 1360,
        "wires": [["7b7cad76.d71504"]]
    },
    {
        "id": "f6265e70.cb185",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87C4",
        "ioid": "2",
        "name": "wardrobe temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 220,
        "y": 800,
        "wires": [["aab01082.6c63b"]]
    },
    {
        "id": "6b3f8ff2.1b04",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "1",
        "ioid": "2",
        "name": "boiler temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 1020,
        "wires": [["45597fcb.ddb42"]]
    },
    {
        "id": "aab01082.6c63b",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 800,
        "wires": [["cae6fb0b.c34e78"]]
    },
    {
        "id": "45597fcb.ddb42",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 1020,
        "wires": [["20310b5f.fd5fd4"]]
    },
    {
        "id": "cae6fb0b.c34e78",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "wardrobe/temp",
        "measurement": "wardrobe/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 580,
        "y": 800,
        "wires": []
    },
    {
        "id": "20310b5f.fd5fd4",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "boiler/temp",
        "measurement": "boiler/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 570,
        "y": 1020,
        "wires": []
    },
    {
        "id": "558763ea.17db0c",
        "type": "Ampio IN",
        "z": "10842f61.22bf81",
        "valtype": "t",
        "mac": "87C4",
        "ioid": "3",
        "name": "external temp",
        "retainignore": "",
        "srvaddress": "localhost",
        "x": 210,
        "y": 860,
        "wires": [["5fddfa46.f96d04"]]
    },
    {
        "id": "5fddfa46.f96d04",
        "type": "function",
        "z": "10842f61.22bf81",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 860,
        "wires": [["a2d1201.e4f00e"]]
    },
    {
        "id": "a2d1201.e4f00e",
        "type": "influxdb out",
        "z": "10842f61.22bf81",
        "influxdb": "49824722.da0c98",
        "name": "external/temp",
        "measurement": "external/temp",
        "precision": "",
        "retentionPolicy": "",
        "x": 580,
        "y": 860,
        "wires": []
    },
    {
        "id": "c192e1aa.d5d25",
        "type": "komfoventNodeGet",
        "z": "13cbf77f.87a069",
        "displayName": "get",
        "user": "8ed427c6.e1f408",
        "x": 350,
        "y": 80,
        "wires": [["94f6a381.7aec7"]]
    },
    {
        "id": "77ce07a2.3ee228",
        "type": "inject",
        "z": "13cbf77f.87a069",
        "name": "fieldName",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "${fieldName}",
        "payloadType": "str",
        "x": 190,
        "y": 80,
        "wires": [["c192e1aa.d5d25"]]
    },
    {
        "id": "94f6a381.7aec7",
        "type": "function",
        "z": "13cbf77f.87a069",
        "name": "deleteUnit",
        "func": "const payload = msg.payload;\n\nif (!payload.error) {\n    const pollutedTempString = payload.result;\n    const spaceSignIndex = pollutedTempString.indexOf(' ');\n    if (spaceSignIndex > -1) {\n        const tempString = pollutedTempString.substring(0, spaceSignIndex);\n        const temp = parseFloat(tempString);\n        return { \n            payload: { \n                result: temp, \n                error: false\n            }\n        };\n    }\n}\n\nreturn { error: true }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 80,
        "wires": [["4a243c65.d60404"]]
    },
    {
        "id": "1a47e54f.a1068b",
        "type": "influxdb out",
        "z": "13cbf77f.87a069",
        "influxdb": "49824722.da0c98",
        "name": "measurementName",
        "measurement": "${measurementName}",
        "precision": "",
        "retentionPolicy": "",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "ead6c03e.d080f",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Supply temp (C) get",
        "env": [
            { "name": "fieldName", "value": "ai0", "type": "str" },
            { "name": "measurementName", "value": "recu/supply-temp", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 230,
        "y": 80,
        "wires": []
    },
    {
        "id": "b7540758.481328",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Extract temp (C) get",
        "env": [
            { "name": "fieldName", "value": "ai1", "type": "str" },
            { "name": "measurementName", "value": "recu/extract-temp", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "1d8d6630.2c8dfa",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Outdoor temp (C) get",
        "env": [
            { "name": "fieldName", "value": "ai2", "type": "str" },
            { "name": "measurementName", "value": "recu/outdoor-temp", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 240,
        "y": 200,
        "wires": []
    },
    {
        "id": "4a243c65.d60404",
        "type": "function",
        "z": "13cbf77f.87a069",
        "name": "parseFloat",
        "func": "const payload = msg.payload;\n\nif (!payload.error) {\n    const temp = parseFloat(payload.result);\n    \n    return { payload: temp };\n}\n\nreturn { error: true }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 80,
        "wires": [["1a47e54f.a1068b"]]
    },
    {
        "id": "1bcc5ef2.0304f1",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Heat recovery (W) get",
        "env": [
            { "name": "fieldName", "value": "ec2", "type": "str" },
            { "name": "measurementName", "value": "recu/heat-recovery", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "5ff16d5d.30e5e4",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Heating power (W) get",
        "env": [
            { "name": "fieldName", "value": "ec4", "type": "str" },
            { "name": "measurementName", "value": "recu/heat-power", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 240,
        "y": 320,
        "wires": []
    },
    {
        "id": "97e1fd63.ba281",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Heat exchanger efficiency (%) get",
        "env": [
            { "name": "fieldName", "value": "ec1", "type": "str" },
            { "name": "measurementName", "value": "recu/heat-exchanger-efficiency", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 260,
        "y": 380,
        "wires": []
    },
    {
        "id": "1d632015.a6eac",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Filter clogging (%) get",
        "env": [
            { "name": "fieldName", "value": "fcg", "type": "str" },
            { "name": "measurementName", "value": "recu/filter-clogging", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 240,
        "y": 440,
        "wires": []
    },
    {
        "id": "3d6fa92d.4b56b6",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Power consumption (W) get",
        "env": [
            { "name": "fieldName", "value": "ec3", "type": "str" },
            { "name": "measurementName", "value": "recu/power-consumption", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "35096cd2.d9dd34",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Air dampers (%) get",
        "env": [
            { "name": "fieldName", "value": "v_ad", "type": "str" },
            { "name": "measurementName", "value": "recu/air_dampers", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "b35bd987.7606b8",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Power consumption (W) get",
        "env": [
            { "name": "fieldName", "value": "ec3", "type": "str" },
            { "name": "measurementName", "value": "recu/power-consumption", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "f8dd7be3.d263a8",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Energy saving (%) get",
        "env": [
            { "name": "fieldName", "value": "v_es", "type": "str" },
            { "name": "measurementName", "value": "recu/energy-saving", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "9bb85848.9fd518",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Supply flow (m3/h) get",
        "env": [
            { "name": "fieldName", "value": "saf", "type": "str" },
            { "name": "measurementName", "value": "recu/supply-flow", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe3466d1.632048",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Extract flow (m3/h) get",
        "env": [
            { "name": "fieldName", "value": "eaf", "type": "str" },
            { "name": "measurementName", "value": "recu/extract-flow", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "3d961d50.cda2b2",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Supply fan (%) get",
        "env": [
            { "name": "fieldName", "value": "v_sfi", "type": "str" },
            { "name": "measurementName", "value": "recu/supply-fan", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "d1ff64d4.10d4b8",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Exhaust fan (%) get",
        "env": [
            { "name": "fieldName", "value": "v_efi", "type": "str" },
            { "name": "measurementName", "value": "recu/exhaust-fan", "type": "str" },
            { "name": "interval", "value": "10", "type": "str" }
        ],
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "ed5b14b9.b05438",
        "type": "komfoventNodeSet",
        "z": "6bebbd23.6d57e4",
        "displayName": "home set",
        "user": "8ed427c6.e1f408",
        "x": 700,
        "y": 580,
        "wires": [[]]
    },
    {
        "id": "2dcd78be.a7aad8",
        "type": "komfoventNodeSet",
        "z": "6bebbd23.6d57e4",
        "displayName": "away set",
        "user": "8ed427c6.e1f408",
        "x": 700,
        "y": 620,
        "wires": [[]]
    },
    {
        "id": "c93381e3.8e6bd",
        "type": "http in",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "url": "/ventillation/mode/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 580,
        "wires": [["f07d20ab.09ae5"]]
    },
    {
        "id": "f07d20ab.09ae5",
        "type": "function",
        "z": "6bebbd23.6d57e4",
        "name": "home",
        "func": "\nreturn { payload: \"home\" };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 580,
        "wires": [["ed5b14b9.b05438"]]
    },
    {
        "id": "b35af1.bbad651",
        "type": "http in",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "url": "/ventillation/mode/away",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 620,
        "wires": [["98e77708.c54208"]]
    },
    {
        "id": "98e77708.c54208",
        "type": "function",
        "z": "6bebbd23.6d57e4",
        "name": "away",
        "func": "\nreturn { payload: \"away\" };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 620,
        "wires": [["2dcd78be.a7aad8"]]
    },
    {
        "id": "da62fcb1.10cf1",
        "type": "openweathermap",
        "z": "cbbff5e9.216548",
        "name": "Home weather",
        "wtype": "current",
        "lon": "19.49181",
        "lat": "51.66345",
        "city": "",
        "country": "",
        "language": "en",
        "x": 460,
        "y": 260,
        "wires": [["2fc3bc25.18b254", "ab6d364b.65d028", "b156086b.7641c8"]]
    },
    {
        "id": "ad5b652.bf7a798",
        "type": "inject",
        "z": "cbbff5e9.216548",
        "name": "",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 260,
        "wires": [["da62fcb1.10cf1"]]
    },
    {
        "id": "f110fbc8.8f1c58",
        "type": "influxdb out",
        "z": "cbbff5e9.216548",
        "influxdb": "49824722.da0c98",
        "name": "external/temp/ow",
        "measurement": "external/temp/ow",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "61829895.983168",
        "type": "influxdb out",
        "z": "cbbff5e9.216548",
        "influxdb": "49824722.da0c98",
        "name": "external/clouds/ow",
        "measurement": "external/clouds/ow",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "ff6556da.078cc8",
        "type": "influxdb out",
        "z": "cbbff5e9.216548",
        "influxdb": "49824722.da0c98",
        "name": "external/windspeed/ow",
        "measurement": "external/windspeed/ow",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "2fc3bc25.18b254",
        "type": "function",
        "z": "cbbff5e9.216548",
        "name": "clouds",
        "func": "return { payload: msg.payload.clouds };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 240,
        "wires": [["61829895.983168"]]
    },
    {
        "id": "ab6d364b.65d028",
        "type": "function",
        "z": "cbbff5e9.216548",
        "name": "windspeed",
        "func": "return { payload: msg.payload.windspeed };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 180,
        "wires": [["ff6556da.078cc8"]]
    },
    {
        "id": "b156086b.7641c8",
        "type": "function",
        "z": "cbbff5e9.216548",
        "name": "temp",
        "func": "return { payload: msg.payload.tempc };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 300,
        "wires": [["f110fbc8.8f1c58"]]
    },
    {
        "id": "4afc5d49.367754",
        "type": "function",
        "z": "6bebbd23.6d57e4",
        "name": "create onoff message",
        "func": "\nreturn { payload: \"onoff\" };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 700,
        "wires": [["99fff37f.f14a6"]]
    },
    {
        "id": "99fff37f.f14a6",
        "type": "komfoventNodeSet",
        "z": "6bebbd23.6d57e4",
        "displayName": "send message",
        "user": "8ed427c6.e1f408",
        "x": 600,
        "y": 700,
        "wires": [["f987263e.b7f878", "c726fb23.458168"]]
    },
    {
        "id": "f987263e.b7f878",
        "type": "switch",
        "z": "6bebbd23.6d57e4",
        "name": "is success?",
        "property": "payload.error",
        "propertyType": "msg",
        "rules": [{ "t": "false" }],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 700,
        "wires": [["e8ea63b6.5df3c"]]
    },
    {
        "id": "e8ea63b6.5df3c",
        "type": "function",
        "z": "6bebbd23.6d57e4",
        "name": "create home message",
        "func": "\nreturn { payload: \"home\" };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 760,
        "wires": [["d21d42fb.b00d2"]]
    },
    {
        "id": "f0de12d1.ceb26",
        "type": "http in",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "url": "/ventillation/mode/onoff",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 700,
        "wires": [["4afc5d49.367754"]]
    },
    {
        "id": "d21d42fb.b00d2",
        "type": "komfoventNodeSet",
        "z": "6bebbd23.6d57e4",
        "displayName": "send message",
        "user": "8ed427c6.e1f408",
        "x": 600,
        "y": 760,
        "wires": [["e94dd5e1.8b4c08"]]
    },
    {
        "id": "d4b5948d.6d3e28",
        "type": "inject",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 780,
        "wires": [["4afc5d49.367754"]]
    },
    {
        "id": "5c510eb6.97663",
        "type": "inject",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 840,
        "wires": [["d6f08abc.51b938"]]
    },
    {
        "id": "d6f08abc.51b938",
        "type": "function",
        "z": "6bebbd23.6d57e4",
        "name": "create onoff message",
        "func": "\nreturn { payload: \"onoff\" };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 840,
        "wires": [["a61ac459.cfef98"]]
    },
    {
        "id": "a61ac459.cfef98",
        "type": "komfoventNodeSet",
        "z": "6bebbd23.6d57e4",
        "displayName": "send message",
        "user": "8ed427c6.e1f408",
        "x": 600,
        "y": 840,
        "wires": [["bfed519e.4e60f"]]
    },
    {
        "id": "bfed519e.4e60f",
        "type": "debug",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 860,
        "wires": []
    },
    {
        "id": "e94dd5e1.8b4c08",
        "type": "debug",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "c726fb23.458168",
        "type": "debug",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 640,
        "wires": []
    },
    {
        "id": "5618bbe2.f1fd24",
        "type": "inject",
        "z": "6bebbd23.6d57e4",
        "name": "fieldName",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ac-1",
        "payloadType": "str",
        "x": 780,
        "y": 460,
        "wires": [["c7e01c7e.439dd"]]
    },
    {
        "id": "c7e01c7e.439dd",
        "type": "komfoventNodeGet",
        "z": "6bebbd23.6d57e4",
        "displayName": "get",
        "user": "8ed427c6.e1f408",
        "x": 950,
        "y": 460,
        "wires": [["99493c2e.4b1fa"]]
    },
    {
        "id": "99493c2e.4b1fa",
        "type": "debug",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "76bcab1.1f60054",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind living 1",
        "topic": "ampio/to/87CB/o/3/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "cd36bde0.d18c5",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "down",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 260,
        "wires": [["76bcab1.1f60054", "edb4790a.22a188", "2265feed.afaef2", "ce69ceb3.24d0d"]]
    },
    {
        "id": "a13a16b2.2d1ab8",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "stop",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 200,
        "wires": [["76bcab1.1f60054", "edb4790a.22a188", "2265feed.afaef2", "ce69ceb3.24d0d"]]
    },
    {
        "id": "d67c91ff.93f5f",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "up",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 110,
        "y": 320,
        "wires": [["76bcab1.1f60054", "ce69ceb3.24d0d", "2265feed.afaef2", "edb4790a.22a188"]]
    },
    {
        "id": "edb4790a.22a188",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind living 2",
        "topic": "ampio/to/87CB/o/4/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "2265feed.afaef2",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind bathroom",
        "topic": "ampio/to/8AC2/o/1/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "ce69ceb3.24d0d",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind guest",
        "topic": "ampio/to/8AC2/o/2/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "b716ead0.10b178",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind dining",
        "topic": "ampio/to/87CB/o/2/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 970,
        "y": 40,
        "wires": []
    },
    {
        "id": "2c9fa678.25c53a",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind kitchen",
        "topic": "ampio/to/87CB/o/1/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "32f2caf3.2c8b36",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "stop",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 730,
        "y": 100,
        "wires": [["997f7d70.4614d", "b716ead0.10b178"]]
    },
    {
        "id": "ae080c55.f33d2",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "down",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 730,
        "y": 40,
        "wires": [["997f7d70.4614d", "b716ead0.10b178"]]
    },
    {
        "id": "c877e8a9.5248c8",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "up",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 730,
        "y": 160,
        "wires": [["997f7d70.4614d", "b716ead0.10b178"]]
    },
    {
        "id": "997f7d70.4614d",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blanka",
        "topic": "ampio/to/8AC2/o/3/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "cac5ffeb.6262",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "down",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 750,
        "y": 220,
        "wires": [["2c9fa678.25c53a"]]
    },
    {
        "id": "65a06f0c.afe97",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "stop",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 750,
        "y": 340,
        "wires": [["2c9fa678.25c53a"]]
    },
    {
        "id": "144d4977.3ccf27",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "up",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 750,
        "y": 280,
        "wires": [["2c9fa678.25c53a"]]
    },
    {
        "id": "ffd49f1c.732e8",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind bedroom",
        "topic": "ampio/to/8AC2/o/4/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 940,
        "y": 480,
        "wires": []
    },
    {
        "id": "fddcf180.01e4b",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "down",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 710,
        "y": 420,
        "wires": [["ffd49f1c.732e8"]]
    },
    {
        "id": "be3fc619.024b28",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "stop",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 710,
        "y": 480,
        "wires": [["ffd49f1c.732e8"]]
    },
    {
        "id": "8d35a59e.203098",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "up",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 710,
        "y": 540,
        "wires": [["ffd49f1c.732e8"]]
    },
    {
        "id": "bc1208b7.127648",
        "type": "mqtt out",
        "z": "34d5b010.8abea",
        "name": "salon",
        "topic": "ampio/to/87D2/o/3/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "1d2b8f61.def541",
        "type": "inject",
        "z": "34d5b010.8abea",
        "name": "",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 300,
        "wires": [["bc1208b7.127648"]]
    },
    {
        "id": "617e6181.2def3",
        "type": "inject",
        "z": "34d5b010.8abea",
        "name": "",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 260,
        "wires": [["bc1208b7.127648"]]
    },
    {
        "id": "aa94654.cd2d998",
        "type": "sunpos",
        "z": "34d5b010.8abea",
        "name": "sun position",
        "lon": "19.493367",
        "lat": "51.666359",
        "start": "goldenHourEnd",
        "startoffset": "",
        "end": "goldenHour",
        "endoffset": 0,
        "x": 390,
        "y": 440,
        "wires": [["ae411547.2db458"]]
    },
    {
        "id": "9b122e7b.7f597",
        "type": "debug",
        "z": "34d5b010.8abea",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "e9fcdb2c.857b18",
        "type": "inject",
        "z": "34d5b010.8abea",
        "name": "10 min interval",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 440,
        "wires": [["aa94654.cd2d998"]]
    },
    {
        "id": "ae411547.2db458",
        "type": "switch",
        "z": "34d5b010.8abea",
        "name": "is sun up",
        "property": "payload.sunInSky",
        "propertyType": "msg",
        "rules": [{ "t": "false" }, { "t": "true" }],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 440,
        "wires": [["9b122e7b.7f597"], []]
    },
    {
        "id": "b9cf6135.ac5fa",
        "type": "sunpos",
        "z": "c1c0d025.7190c",
        "name": "sun position",
        "lon": "19.493367",
        "lat": "51.666359",
        "start": "sunriseEnd",
        "startoffset": "",
        "end": "goldenHour",
        "endoffset": "-180",
        "x": 390,
        "y": 740,
        "wires": [["6d981ef1.97a3f"]]
    },
    {
        "id": "6ab93549.461d9c",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "10 min interval",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 740,
        "wires": [["b9cf6135.ac5fa"]]
    },
    {
        "id": "6d981ef1.97a3f",
        "type": "join",
        "z": "c1c0d025.7190c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 570,
        "y": 700,
        "wires": [["3847165.1ad55ea"]]
    },
    {
        "id": "32514267.d37bce",
        "type": "mqtt in",
        "z": "c1c0d025.7190c",
        "name": "blind kitchen state",
        "topic": "ampio/from/87CB/state/a/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "x": 970,
        "y": 320,
        "wires": [[]]
    },
    {
        "id": "3847165.1ad55ea",
        "type": "function",
        "z": "c1c0d025.7190c",
        "name": "evaluate action",
        "func": "if(msg.payload.sun == null) return null;\nif(msg.payload.blindstate == null) return null;\n\nvar isSunInSky = msg.payload.sun.sunInSky;\nvar status = msg.payload.blindstate;\n\n//return {payload: {'status':status,\n//    sun: isSunInSky\n//}};\n\nif(status == \"100\" && isSunInSky == true) return {payload: 1};\nif(status == \"0\" && isSunInSky == false) return {payload: 2};\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 700,
        "wires": [["b280a085.0bf6"]]
    },
    {
        "id": "49e58fa2.e83a9",
        "type": "mqtt in",
        "z": "c1c0d025.7190c",
        "name": "blind bedroom state",
        "topic": "ampio/from/8AC2/state/a/4",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "x": 190,
        "y": 660,
        "wires": [["638b2db.3dcc1d4"]]
    },
    {
        "id": "b280a085.0bf6",
        "type": "debug",
        "z": "c1c0d025.7190c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 700,
        "wires": []
    },
    {
        "id": "638b2db.3dcc1d4",
        "type": "function",
        "z": "c1c0d025.7190c",
        "name": "map topic",
        "func": "return { topic: 'blindstate', payload: msg.payload };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 660,
        "wires": [["6d981ef1.97a3f"]]
    },
    {
        "id": "99f7f23d.ba1ea",
        "type": "blindcontroller",
        "z": "34d5b010.8abea",
        "name": "guest",
        "mode": "Summer",
        "channel": "guest",
        "orientation": "154",
        "noffset": "",
        "poffset": "",
        "top": "2.3",
        "bottom": "1",
        "depth": "0",
        "altitudethreshold": "",
        "increment": "100",
        "maxopen": "",
        "maxclosed": "",
        "temperaturethreshold": "",
        "temperaturethresholdposition": "",
        "cloudsthreshold": "0.5",
        "cloudsthresholdposition": "",
        "uvindexthreshold": "",
        "uvindexthresholdposition": "",
        "nightposition": "",
        "expiryperiod": "420",
        "opposite": "",
        "x": 570,
        "y": 540,
        "wires": [["8ba793d0.3a50c"]]
    },
    {
        "id": "4e1820f7.9665a",
        "type": "sunpos",
        "z": "34d5b010.8abea",
        "name": "sun position",
        "lon": "19.493367",
        "lat": "51.666359",
        "start": "sunrise",
        "startoffset": "",
        "end": "dusk",
        "endoffset": 0,
        "x": 350,
        "y": 540,
        "wires": [["99f7f23d.ba1ea"]]
    },
    {
        "id": "7412a9df.7d4c18",
        "type": "openweathermap",
        "z": "34d5b010.8abea",
        "name": "Home weather",
        "wtype": "current",
        "lon": "19.49181",
        "lat": "51.66345",
        "city": "",
        "country": "",
        "language": "en",
        "x": 500,
        "y": 700,
        "wires": [["a15d28c7.5fd9a8"]]
    },
    {
        "id": "29dbc9c.6e46f36",
        "type": "function",
        "z": "34d5b010.8abea",
        "name": "evaluate action",
        "func": "if(msg.payload === null) return { payload: { status: -1, error: \"Msg payload null\" }};\nvar payload = msg.payload;\nvar weather = payload.weather;\nvar blindstate = payload.blindstate;\nvar blind = payload.blind;\n\nif(weather === null) return { payload: { status: -1, error: \"Weather null\" }};\nif(blindstate === null) return { payload: { status: -1, error: \"Blindstate null\" }};\nif(blind === null) return { payload: { status: -1, error: \"Blind null\" }};\n\nvar newBlindPosition = blind.blindPosition;\nvar currentBlindPosition = Number.parseInt(msg.payload.blindstate);\n\nif(weather.windspeed > 7) newBlindPosition == 100;\nif(weather.rain > 0) newBlindPosition = 100;\n\nif(newBlindPosition === currentBlindPosition) return { payload: {status: 0, info: \"Blind postion doesn't change\"}};\n\nif(newBlindPosition == 100) return {payload: {status: 1, info: \"Up\"}};\nif(newBlindPosition === 0) return {payload: {status: 2, info: \"Down\"}};\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 820,
        "wires": [[]]
    },
    {
        "id": "f392d198.ff1ef",
        "type": "mqtt in",
        "z": "34d5b010.8abea",
        "name": "blind guest state",
        "topic": "ampio/from/8AC2/state/a/2",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "x": 120,
        "y": 600,
        "wires": [["9fd7887a.e10088"]]
    },
    {
        "id": "9fd7887a.e10088",
        "type": "function",
        "z": "34d5b010.8abea",
        "name": "map topic",
        "func": "return { topic: 'blindstate', payload: msg.payload };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 600,
        "wires": [["8ba793d0.3a50c"]]
    },
    {
        "id": "8ba793d0.3a50c",
        "type": "join",
        "z": "34d5b010.8abea",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 750,
        "y": 600,
        "wires": [["a71d930b.72131"]]
    },
    {
        "id": "a260de75.bf8f7",
        "type": "inject",
        "z": "34d5b010.8abea",
        "name": "10 min interval",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 540,
        "wires": [["4e1820f7.9665a"]]
    },
    {
        "id": "a71d930b.72131",
        "type": "function",
        "z": "34d5b010.8abea",
        "name": "evaluate action - no weather",
        "func": "if(\n    msg.payload.blindstate == null ||\n    msg.payload.blind == null\n) return null;\n\nvar newBlindPosition = msg.payload.blind.blindPosition;\nvar currentBlindPosition = Number.parseInt(msg.payload.blindstate);\n\nif(newBlindPosition === currentBlindPosition) return null\n\nif(newBlindPosition == 100) return {payload: 1};\nif(newBlindPosition == 0) return {payload: 2};\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 640,
        "wires": [[]]
    },
    {
        "id": "307f1fbc.b4147",
        "type": "blindcontroller",
        "z": "34d5b010.8abea",
        "name": "guest",
        "mode": "Summer",
        "channel": "guest",
        "orientation": "154",
        "noffset": "",
        "poffset": "",
        "top": "2.3",
        "bottom": "1",
        "depth": "0",
        "altitudethreshold": "",
        "increment": "100",
        "maxopen": "",
        "maxclosed": "",
        "temperaturethreshold": "24",
        "temperaturethresholdposition": "100",
        "cloudsthreshold": "0.5",
        "cloudsthresholdposition": "100",
        "uvindexthreshold": "",
        "uvindexthresholdposition": "",
        "nightposition": "",
        "expiryperiod": "420",
        "opposite": "",
        "x": 690,
        "y": 820,
        "wires": [["5894ce4.9b7113"]]
    },
    {
        "id": "e74d012b.8edb5",
        "type": "sunpos",
        "z": "34d5b010.8abea",
        "name": "sun position",
        "lon": "19.493367",
        "lat": "51.666359",
        "start": "sunrise",
        "startoffset": "",
        "end": "goldenHour",
        "endoffset": 0,
        "x": 370,
        "y": 820,
        "wires": [["307f1fbc.b4147", "7412a9df.7d4c18"]]
    },
    {
        "id": "a17784ec.ea6c28",
        "type": "mqtt in",
        "z": "34d5b010.8abea",
        "name": "blind guest state",
        "topic": "ampio/from/8AC2/state/a/2",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "x": 140,
        "y": 880,
        "wires": [["d52e8f26.53251"]]
    },
    {
        "id": "d52e8f26.53251",
        "type": "function",
        "z": "34d5b010.8abea",
        "name": "map topic",
        "func": "return { topic: 'blindstate', payload: msg.payload };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 880,
        "wires": [["5894ce4.9b7113"]]
    },
    {
        "id": "5894ce4.9b7113",
        "type": "join",
        "z": "34d5b010.8abea",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 890,
        "y": 820,
        "wires": [["29dbc9c.6e46f36"]]
    },
    {
        "id": "40e1b321.4b4fac",
        "type": "inject",
        "z": "34d5b010.8abea",
        "name": "10 min interval",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 820,
        "wires": [["e74d012b.8edb5"]]
    },
    {
        "id": "e82e175a.a56658",
        "type": "e-mail",
        "z": "34d5b010.8abea",
        "server": "smtp.poczta.onet.pl",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "fcjuventus@poczta.onet.pl",
        "dname": "onet",
        "x": 1250,
        "y": 920,
        "wires": []
    },
    {
        "id": "a15d28c7.5fd9a8",
        "type": "function",
        "z": "34d5b010.8abea",
        "name": "map weather",
        "func": "if(msg.payload === null) return null;\n\nreturn { \n    topic: 'weather', \n    payload: {\n        clouds: msg.payload.clouds / 100,\n        windspeed: msg.payload.windspeed,\n        weather: msg.payload.weather,\n        rain: msg.payload.rain,\n        temp: msg.payload.tempc,\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 700,
        "wires": [["307f1fbc.b4147", "5894ce4.9b7113"]]
    },
    {
        "id": "495bde03.5debb",
        "type": "mqtt out",
        "z": "34d5b010.8abea",
        "name": "guest",
        "topic": "ampio/to/87C7/o/6/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "20fc3c9c.6c7614",
        "type": "inject",
        "z": "34d5b010.8abea",
        "name": "",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 380,
        "wires": [["495bde03.5debb"]]
    },
    {
        "id": "ad1f1b89.c47c78",
        "type": "inject",
        "z": "34d5b010.8abea",
        "name": "",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 340,
        "wires": [["495bde03.5debb"]]
    },
    {
        "id": "25c8dfa2.27441",
        "type": "mqtt out",
        "z": "34d5b010.8abea",
        "name": "blind guest",
        "topic": "ampio/to/8AC2/o/2/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 1290,
        "y": 740,
        "wires": []
    },
    {
        "id": "29a0e3c5.ccd38c",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "down",
        "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 440,
        "wires": [["ce69ceb3.24d0d"]]
    }
]
