src/node-red/flows.json
[
    {
        "id": "10842f61.22bf81",
        "type": "tab",
        "label": "Temperature",
        "disabled": false,
        "info": ""
    },
    {
        "id": "88a0490b5ee9139a",
        "type": "tab",
        "label": "Lights",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6bebbd23.6d57e4",
        "type": "tab",
        "label": "Ventillation",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cbbff5e9.216548",
        "type": "tab",
        "label": "Weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1c0d025.7190c",
        "type": "tab",
        "label": "Blinds",
        "disabled": false,
        "info": ""
    },
    {
        "id": "34d5b010.8abea",
        "type": "tab",
        "label": "Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "13cbf77f.87a069",
        "type": "subflow",
        "name": "Recu read | InfluxDb",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "fieldName",
                "type": "str",
                "value": ""
            },
            {
                "name": "measurementName",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f33ae946a1b71124",
        "type": "subflow",
        "name": "Ampio read | InfluxDb",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [
            {
                "name": "topic",
                "type": "str",
                "value": ""
            },
            {
                "name": "measurement",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "51751d6da98303cc",
        "type": "subflow",
        "name": "Light",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 240,
                "y": 180,
                "wires": [
                    {
                        "id": "9f7d123a4b857c73"
                    }
                ]
            }
        ],
        "out": [],
        "env": [
            {
                "name": "toTopic",
                "type": "str",
                "value": ""
            },
            {
                "name": "fromTopic",
                "type": "str",
                "value": ""
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 500,
            "y": 260,
            "wires": [
                {
                    "id": "a32469b7d115cbdf",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "49824722.da0c98",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "sensors",
        "name": "sensorsDb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "",
        "rejectUnauthorized": false
    },
    {
        "id": "8ed427c6.e1f408",
        "type": "komfoventConfig",
        "displayName": "recuperator",
        "siteName": "home",
        "ip": "192.168.1.127"
    },
    {
        "id": "190e1795.e65c88",
        "type": "mqtt-broker",
        "name": "ampio",
        "broker": "192.168.1.104",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c192e1aa.d5d25",
        "type": "komfoventNodeGet",
        "z": "13cbf77f.87a069",
        "displayName": "get",
        "user": "8ed427c6.e1f408",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "94f6a381.7aec7"
            ]
        ]
    },
    {
        "id": "77ce07a2.3ee228",
        "type": "inject",
        "z": "13cbf77f.87a069",
        "name": "fieldName",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "${fieldName}",
        "payloadType": "str",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "c192e1aa.d5d25"
            ]
        ]
    },
    {
        "id": "94f6a381.7aec7",
        "type": "function",
        "z": "13cbf77f.87a069",
        "name": "deleteUnit",
        "func": "const payload = msg.payload;\n\nif (!payload.error) {\n    const pollutedTempString = payload.result;\n    const spaceSignIndex = pollutedTempString.indexOf(' ');\n    if (spaceSignIndex > -1) {\n        const tempString = pollutedTempString.substring(0, spaceSignIndex);\n        const temp = parseFloat(tempString);\n        return { \n            payload: { \n                result: temp, \n                error: false\n            }\n        };\n    }\n}\n\nreturn { error: true }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 80,
        "wires": [
            [
                "4a243c65.d60404"
            ]
        ]
    },
    {
        "id": "1a47e54f.a1068b",
        "type": "influxdb out",
        "z": "13cbf77f.87a069",
        "influxdb": "49824722.da0c98",
        "name": "measurementName",
        "measurement": "${measurementName}",
        "precision": "",
        "retentionPolicy": "",
        "x": 890,
        "y": 80,
        "wires": []
    },
    {
        "id": "ead6c03e.d080f",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Supply temp (C) get",
        "env": [
            {
                "name": "fieldName",
                "value": "ai0",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/supply-temp",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 230,
        "y": 80,
        "wires": []
    },
    {
        "id": "b7540758.481328",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Extract temp (C) get",
        "env": [
            {
                "name": "fieldName",
                "value": "ai1",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/extract-temp",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 230,
        "y": 140,
        "wires": []
    },
    {
        "id": "1d8d6630.2c8dfa",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Outdoor temp (C) get",
        "env": [
            {
                "name": "fieldName",
                "value": "ai2",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/outdoor-temp",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 240,
        "y": 200,
        "wires": []
    },
    {
        "id": "4a243c65.d60404",
        "type": "function",
        "z": "13cbf77f.87a069",
        "name": "parseFloat",
        "func": "const payload = msg.payload;\n\nif (!payload.error) {\n    const temp = parseFloat(payload.result);\n    \n    return { payload: temp };\n}\n\nreturn { error: true }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 80,
        "wires": [
            [
                "1a47e54f.a1068b"
            ]
        ]
    },
    {
        "id": "1bcc5ef2.0304f1",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Heat recovery (W) get",
        "env": [
            {
                "name": "fieldName",
                "value": "ec2",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/heat-recovery",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 240,
        "y": 260,
        "wires": []
    },
    {
        "id": "5ff16d5d.30e5e4",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Heating power (W) get",
        "env": [
            {
                "name": "fieldName",
                "value": "ec4",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/heat-power",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 240,
        "y": 320,
        "wires": []
    },
    {
        "id": "97e1fd63.ba281",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Heat exchanger efficiency (%) get",
        "env": [
            {
                "name": "fieldName",
                "value": "ec1",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/heat-exchanger-efficiency",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 260,
        "y": 380,
        "wires": []
    },
    {
        "id": "1d632015.a6eac",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Filter clogging (%) get",
        "env": [
            {
                "name": "fieldName",
                "value": "fcg",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/filter-clogging",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 240,
        "y": 440,
        "wires": []
    },
    {
        "id": "3d6fa92d.4b56b6",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Power consumption (W) get",
        "env": [
            {
                "name": "fieldName",
                "value": "ec3",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/power-consumption",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 600,
        "y": 80,
        "wires": []
    },
    {
        "id": "35096cd2.d9dd34",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Air dampers (%) get",
        "env": [
            {
                "name": "fieldName",
                "value": "v_ad",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/air_dampers",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "b35bd987.7606b8",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Power consumption (W) get",
        "env": [
            {
                "name": "fieldName",
                "value": "ec3",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/power-consumption",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "f8dd7be3.d263a8",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Energy saving (%) get",
        "env": [
            {
                "name": "fieldName",
                "value": "v_es",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/energy-saving",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "9bb85848.9fd518",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Supply flow (m3/h) get",
        "env": [
            {
                "name": "fieldName",
                "value": "saf",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/supply-flow",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "fe3466d1.632048",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Extract flow (m3/h) get",
        "env": [
            {
                "name": "fieldName",
                "value": "eaf",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/extract-flow",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "3d961d50.cda2b2",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Supply fan (%) get",
        "env": [
            {
                "name": "fieldName",
                "value": "v_sfi",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/supply-fan",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "d1ff64d4.10d4b8",
        "type": "subflow:13cbf77f.87a069",
        "z": "6bebbd23.6d57e4",
        "name": "Exhaust fan (%) get",
        "env": [
            {
                "name": "fieldName",
                "value": "v_efi",
                "type": "str"
            },
            {
                "name": "measurementName",
                "value": "recu/exhaust-fan",
                "type": "str"
            },
            {
                "name": "interval",
                "value": "10",
                "type": "str"
            }
        ],
        "x": 570,
        "y": 500,
        "wires": []
    },
    {
        "id": "ed5b14b9.b05438",
        "type": "komfoventNodeSet",
        "z": "6bebbd23.6d57e4",
        "displayName": "home set",
        "user": "8ed427c6.e1f408",
        "x": 700,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "2dcd78be.a7aad8",
        "type": "komfoventNodeSet",
        "z": "6bebbd23.6d57e4",
        "displayName": "away set",
        "user": "8ed427c6.e1f408",
        "x": 700,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "c93381e3.8e6bd",
        "type": "http in",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "url": "/ventillation/mode/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "f07d20ab.09ae5"
            ]
        ]
    },
    {
        "id": "f07d20ab.09ae5",
        "type": "function",
        "z": "6bebbd23.6d57e4",
        "name": "home",
        "func": "\nreturn { payload: \"home\" };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 580,
        "wires": [
            [
                "ed5b14b9.b05438"
            ]
        ]
    },
    {
        "id": "b35af1.bbad651",
        "type": "http in",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "url": "/ventillation/mode/away",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "98e77708.c54208"
            ]
        ]
    },
    {
        "id": "98e77708.c54208",
        "type": "function",
        "z": "6bebbd23.6d57e4",
        "name": "away",
        "func": "\nreturn { payload: \"away\" };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 620,
        "wires": [
            [
                "2dcd78be.a7aad8"
            ]
        ]
    },
    {
        "id": "da62fcb1.10cf1",
        "type": "openweathermap",
        "z": "cbbff5e9.216548",
        "name": "Home weather",
        "wtype": "current",
        "lon": "19.49181",
        "lat": "51.66345",
        "city": "",
        "country": "",
        "language": "en",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "2fc3bc25.18b254",
                "ab6d364b.65d028",
                "b156086b.7641c8"
            ]
        ]
    },
    {
        "id": "ad5b652.bf7a798",
        "type": "inject",
        "z": "cbbff5e9.216548",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 260,
        "wires": [
            [
                "da62fcb1.10cf1"
            ]
        ]
    },
    {
        "id": "f110fbc8.8f1c58",
        "type": "influxdb out",
        "z": "cbbff5e9.216548",
        "influxdb": "49824722.da0c98",
        "name": "external/temp/ow",
        "measurement": "external/temp/ow",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "61829895.983168",
        "type": "influxdb out",
        "z": "cbbff5e9.216548",
        "influxdb": "49824722.da0c98",
        "name": "external/clouds/ow",
        "measurement": "external/clouds/ow",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "ff6556da.078cc8",
        "type": "influxdb out",
        "z": "cbbff5e9.216548",
        "influxdb": "49824722.da0c98",
        "name": "external/windspeed/ow",
        "measurement": "external/windspeed/ow",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 930,
        "y": 180,
        "wires": []
    },
    {
        "id": "2fc3bc25.18b254",
        "type": "function",
        "z": "cbbff5e9.216548",
        "name": "clouds",
        "func": "return { payload: msg.payload.clouds };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 240,
        "wires": [
            [
                "61829895.983168"
            ]
        ]
    },
    {
        "id": "ab6d364b.65d028",
        "type": "function",
        "z": "cbbff5e9.216548",
        "name": "windspeed",
        "func": "return { payload: msg.payload.windspeed };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 180,
        "wires": [
            [
                "ff6556da.078cc8"
            ]
        ]
    },
    {
        "id": "b156086b.7641c8",
        "type": "function",
        "z": "cbbff5e9.216548",
        "name": "temp",
        "func": "return { payload: msg.payload.tempc };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "f110fbc8.8f1c58"
            ]
        ]
    },
    {
        "id": "4afc5d49.367754",
        "type": "function",
        "z": "6bebbd23.6d57e4",
        "name": "create onoff message",
        "func": "\nreturn { payload: \"onoff\" };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 700,
        "wires": [
            [
                "99fff37f.f14a6"
            ]
        ]
    },
    {
        "id": "99fff37f.f14a6",
        "type": "komfoventNodeSet",
        "z": "6bebbd23.6d57e4",
        "displayName": "send message",
        "user": "8ed427c6.e1f408",
        "x": 600,
        "y": 700,
        "wires": [
            [
                "f987263e.b7f878",
                "c726fb23.458168"
            ]
        ]
    },
    {
        "id": "f987263e.b7f878",
        "type": "switch",
        "z": "6bebbd23.6d57e4",
        "name": "is success?",
        "property": "payload.error",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 700,
        "wires": [
            [
                "e8ea63b6.5df3c"
            ]
        ]
    },
    {
        "id": "e8ea63b6.5df3c",
        "type": "function",
        "z": "6bebbd23.6d57e4",
        "name": "create home message",
        "func": "\nreturn { payload: \"home\" };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 760,
        "wires": [
            [
                "d21d42fb.b00d2"
            ]
        ]
    },
    {
        "id": "f0de12d1.ceb26",
        "type": "http in",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "url": "/ventillation/mode/onoff",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "4afc5d49.367754"
            ]
        ]
    },
    {
        "id": "d21d42fb.b00d2",
        "type": "komfoventNodeSet",
        "z": "6bebbd23.6d57e4",
        "displayName": "send message",
        "user": "8ed427c6.e1f408",
        "x": 600,
        "y": 760,
        "wires": [
            [
                "e94dd5e1.8b4c08"
            ]
        ]
    },
    {
        "id": "d4b5948d.6d3e28",
        "type": "inject",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 780,
        "wires": [
            [
                "4afc5d49.367754"
            ]
        ]
    },
    {
        "id": "5c510eb6.97663",
        "type": "inject",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 840,
        "wires": [
            [
                "d6f08abc.51b938"
            ]
        ]
    },
    {
        "id": "d6f08abc.51b938",
        "type": "function",
        "z": "6bebbd23.6d57e4",
        "name": "create onoff message",
        "func": "\nreturn { payload: \"onoff\" };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 380,
        "y": 840,
        "wires": [
            [
                "a61ac459.cfef98"
            ]
        ]
    },
    {
        "id": "a61ac459.cfef98",
        "type": "komfoventNodeSet",
        "z": "6bebbd23.6d57e4",
        "displayName": "send message",
        "user": "8ed427c6.e1f408",
        "x": 600,
        "y": 840,
        "wires": [
            [
                "bfed519e.4e60f"
            ]
        ]
    },
    {
        "id": "bfed519e.4e60f",
        "type": "debug",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 860,
        "wires": []
    },
    {
        "id": "e94dd5e1.8b4c08",
        "type": "debug",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "c726fb23.458168",
        "type": "debug",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 640,
        "wires": []
    },
    {
        "id": "5618bbe2.f1fd24",
        "type": "inject",
        "z": "6bebbd23.6d57e4",
        "name": "fieldName",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ac-1",
        "payloadType": "str",
        "x": 780,
        "y": 460,
        "wires": [
            [
                "c7e01c7e.439dd"
            ]
        ]
    },
    {
        "id": "c7e01c7e.439dd",
        "type": "komfoventNodeGet",
        "z": "6bebbd23.6d57e4",
        "displayName": "get",
        "user": "8ed427c6.e1f408",
        "x": 950,
        "y": 460,
        "wires": [
            [
                "99493c2e.4b1fa"
            ]
        ]
    },
    {
        "id": "99493c2e.4b1fa",
        "type": "debug",
        "z": "6bebbd23.6d57e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 300,
        "wires": []
    },
    {
        "id": "76bcab1.1f60054",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind living 1",
        "topic": "ampio/to/87CB/o/3/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 430,
        "y": 180,
        "wires": []
    },
    {
        "id": "cd36bde0.d18c5",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "down",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "76bcab1.1f60054",
                "edb4790a.22a188",
                "2265feed.afaef2",
                "ce69ceb3.24d0d"
            ]
        ]
    },
    {
        "id": "a13a16b2.2d1ab8",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "76bcab1.1f60054",
                "edb4790a.22a188",
                "2265feed.afaef2",
                "ce69ceb3.24d0d"
            ]
        ]
    },
    {
        "id": "d67c91ff.93f5f",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "up",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "76bcab1.1f60054",
                "ce69ceb3.24d0d",
                "2265feed.afaef2",
                "edb4790a.22a188"
            ]
        ]
    },
    {
        "id": "edb4790a.22a188",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind living 2",
        "topic": "ampio/to/87CB/o/4/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 430,
        "y": 240,
        "wires": []
    },
    {
        "id": "2265feed.afaef2",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind bathroom",
        "topic": "ampio/to/8AC2/o/1/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 440,
        "y": 300,
        "wires": []
    },
    {
        "id": "ce69ceb3.24d0d",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind guest",
        "topic": "ampio/to/8AC2/o/2/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "b716ead0.10b178",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind dining",
        "topic": "ampio/to/87CB/o/2/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 970,
        "y": 40,
        "wires": []
    },
    {
        "id": "2c9fa678.25c53a",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind kitchen",
        "topic": "ampio/to/87CB/o/1/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "32f2caf3.2c8b36",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 730,
        "y": 100,
        "wires": [
            [
                "997f7d70.4614d",
                "b716ead0.10b178"
            ]
        ]
    },
    {
        "id": "ae080c55.f33d2",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "down",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 730,
        "y": 40,
        "wires": [
            [
                "997f7d70.4614d",
                "b716ead0.10b178"
            ]
        ]
    },
    {
        "id": "c877e8a9.5248c8",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "up",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 730,
        "y": 160,
        "wires": [
            [
                "997f7d70.4614d",
                "b716ead0.10b178"
            ]
        ]
    },
    {
        "id": "997f7d70.4614d",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blanka",
        "topic": "ampio/to/8AC2/o/3/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "cac5ffeb.6262",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "down",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 750,
        "y": 220,
        "wires": [
            [
                "2c9fa678.25c53a"
            ]
        ]
    },
    {
        "id": "65a06f0c.afe97",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 750,
        "y": 340,
        "wires": [
            [
                "2c9fa678.25c53a"
            ]
        ]
    },
    {
        "id": "144d4977.3ccf27",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "up",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 750,
        "y": 280,
        "wires": [
            [
                "2c9fa678.25c53a"
            ]
        ]
    },
    {
        "id": "ffd49f1c.732e8",
        "type": "mqtt out",
        "z": "c1c0d025.7190c",
        "name": "blind bedroom",
        "topic": "ampio/to/8AC2/o/4/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 940,
        "y": 480,
        "wires": []
    },
    {
        "id": "fddcf180.01e4b",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "down",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "ffd49f1c.732e8"
            ]
        ]
    },
    {
        "id": "be3fc619.024b28",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 710,
        "y": 480,
        "wires": [
            [
                "ffd49f1c.732e8"
            ]
        ]
    },
    {
        "id": "8d35a59e.203098",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "up",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 710,
        "y": 540,
        "wires": [
            [
                "ffd49f1c.732e8"
            ]
        ]
    },
    {
        "id": "aa94654.cd2d998",
        "type": "sunpos",
        "z": "34d5b010.8abea",
        "name": "sun position",
        "lon": "19.493367",
        "lat": "51.666359",
        "start": "goldenHourEnd",
        "startoffset": "",
        "end": "goldenHour",
        "endoffset": 0,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "ae411547.2db458"
            ]
        ]
    },
    {
        "id": "9b122e7b.7f597",
        "type": "debug",
        "z": "34d5b010.8abea",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 440,
        "wires": []
    },
    {
        "id": "e9fcdb2c.857b18",
        "type": "inject",
        "z": "34d5b010.8abea",
        "name": "10 min interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "aa94654.cd2d998"
            ]
        ]
    },
    {
        "id": "ae411547.2db458",
        "type": "switch",
        "z": "34d5b010.8abea",
        "name": "is sun up",
        "property": "payload.sunInSky",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 440,
        "wires": [
            [
                "9b122e7b.7f597"
            ],
            []
        ]
    },
    {
        "id": "b9cf6135.ac5fa",
        "type": "sunpos",
        "z": "c1c0d025.7190c",
        "name": "sun position",
        "lon": "19.493367",
        "lat": "51.666359",
        "start": "sunriseEnd",
        "startoffset": "",
        "end": "goldenHour",
        "endoffset": "-180",
        "x": 390,
        "y": 740,
        "wires": [
            [
                "6d981ef1.97a3f"
            ]
        ]
    },
    {
        "id": "6ab93549.461d9c",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "10 min interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 740,
        "wires": [
            [
                "b9cf6135.ac5fa"
            ]
        ]
    },
    {
        "id": "6d981ef1.97a3f",
        "type": "join",
        "z": "c1c0d025.7190c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 570,
        "y": 700,
        "wires": [
            [
                "3847165.1ad55ea"
            ]
        ]
    },
    {
        "id": "32514267.d37bce",
        "type": "mqtt in",
        "z": "c1c0d025.7190c",
        "name": "blind kitchen state",
        "topic": "ampio/from/87CB/state/a/1",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "x": 970,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "3847165.1ad55ea",
        "type": "function",
        "z": "c1c0d025.7190c",
        "name": "evaluate action",
        "func": "if(msg.payload.sun == null) return null;\nif(msg.payload.blindstate == null) return null;\n\nvar isSunInSky = msg.payload.sun.sunInSky;\nvar status = msg.payload.blindstate;\n\n//return {payload: {'status':status,\n//    sun: isSunInSky\n//}};\n\nif(status == \"100\" && isSunInSky == true) return {payload: 1};\nif(status == \"0\" && isSunInSky == false) return {payload: 2};\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 700,
        "wires": [
            [
                "b280a085.0bf6"
            ]
        ]
    },
    {
        "id": "49e58fa2.e83a9",
        "type": "mqtt in",
        "z": "c1c0d025.7190c",
        "name": "blind bedroom state",
        "topic": "ampio/from/8AC2/state/a/4",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "x": 190,
        "y": 660,
        "wires": [
            [
                "638b2db.3dcc1d4"
            ]
        ]
    },
    {
        "id": "b280a085.0bf6",
        "type": "debug",
        "z": "c1c0d025.7190c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 700,
        "wires": []
    },
    {
        "id": "638b2db.3dcc1d4",
        "type": "function",
        "z": "c1c0d025.7190c",
        "name": "map topic",
        "func": "return { topic: 'blindstate', payload: msg.payload };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 400,
        "y": 660,
        "wires": [
            [
                "6d981ef1.97a3f"
            ]
        ]
    },
    {
        "id": "99f7f23d.ba1ea",
        "type": "blindcontroller",
        "z": "34d5b010.8abea",
        "name": "guest",
        "mode": "Summer",
        "channel": "guest",
        "orientation": "154",
        "noffset": "",
        "poffset": "",
        "top": "2.3",
        "bottom": "1",
        "depth": "0",
        "altitudethreshold": "",
        "increment": "100",
        "maxopen": "",
        "maxclosed": "",
        "temperaturethreshold": "",
        "temperaturethresholdposition": "",
        "cloudsthreshold": "0.5",
        "cloudsthresholdposition": "",
        "uvindexthreshold": "",
        "uvindexthresholdposition": "",
        "nightposition": "",
        "expiryperiod": "420",
        "opposite": "",
        "x": 570,
        "y": 540,
        "wires": [
            [
                "8ba793d0.3a50c"
            ]
        ]
    },
    {
        "id": "4e1820f7.9665a",
        "type": "sunpos",
        "z": "34d5b010.8abea",
        "name": "sun position",
        "lon": "19.493367",
        "lat": "51.666359",
        "start": "sunrise",
        "startoffset": "",
        "end": "dusk",
        "endoffset": 0,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "99f7f23d.ba1ea"
            ]
        ]
    },
    {
        "id": "7412a9df.7d4c18",
        "type": "openweathermap",
        "z": "34d5b010.8abea",
        "name": "Home weather",
        "wtype": "current",
        "lon": "19.49181",
        "lat": "51.66345",
        "city": "",
        "country": "",
        "language": "en",
        "x": 500,
        "y": 700,
        "wires": [
            [
                "a15d28c7.5fd9a8"
            ]
        ]
    },
    {
        "id": "29dbc9c.6e46f36",
        "type": "function",
        "z": "34d5b010.8abea",
        "name": "evaluate action",
        "func": "if(msg.payload === null) return { payload: { status: -1, error: \"Msg payload null\" }};\nvar payload = msg.payload;\nvar weather = payload.weather;\nvar blindstate = payload.blindstate;\nvar blind = payload.blind;\n\nif(weather === null) return { payload: { status: -1, error: \"Weather null\" }};\nif(blindstate === null) return { payload: { status: -1, error: \"Blindstate null\" }};\nif(blind === null) return { payload: { status: -1, error: \"Blind null\" }};\n\nvar newBlindPosition = blind.blindPosition;\nvar currentBlindPosition = Number.parseInt(msg.payload.blindstate);\n\nif(weather.windspeed > 7) newBlindPosition == 100;\nif(weather.rain > 0) newBlindPosition = 100;\n\nif(newBlindPosition === currentBlindPosition) return { payload: {status: 0, info: \"Blind postion doesn't change\"}};\n\nif(newBlindPosition == 100) return {payload: {status: 1, info: \"Up\"}};\nif(newBlindPosition === 0) return {payload: {status: 2, info: \"Down\"}};\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1100,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "f392d198.ff1ef",
        "type": "mqtt in",
        "z": "34d5b010.8abea",
        "name": "blind guest state",
        "topic": "ampio/from/8AC2/state/a/2",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "nl": false,
        "rap": false,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "9fd7887a.e10088"
            ]
        ]
    },
    {
        "id": "9fd7887a.e10088",
        "type": "function",
        "z": "34d5b010.8abea",
        "name": "map topic",
        "func": "return { topic: 'blindstate', payload: msg.payload };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 600,
        "wires": [
            [
                "8ba793d0.3a50c"
            ]
        ]
    },
    {
        "id": "8ba793d0.3a50c",
        "type": "join",
        "z": "34d5b010.8abea",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 750,
        "y": 600,
        "wires": [
            [
                "a71d930b.72131"
            ]
        ]
    },
    {
        "id": "a260de75.bf8f7",
        "type": "inject",
        "z": "34d5b010.8abea",
        "name": "10 min interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 540,
        "wires": [
            [
                "4e1820f7.9665a"
            ]
        ]
    },
    {
        "id": "a71d930b.72131",
        "type": "function",
        "z": "34d5b010.8abea",
        "name": "evaluate action - no weather",
        "func": "if(\n    msg.payload.blindstate == null ||\n    msg.payload.blind == null\n) return null;\n\nvar newBlindPosition = msg.payload.blind.blindPosition;\nvar currentBlindPosition = Number.parseInt(msg.payload.blindstate);\n\nif(newBlindPosition === currentBlindPosition) return null\n\nif(newBlindPosition == 100) return {payload: 1};\nif(newBlindPosition == 0) return {payload: 2};\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 960,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "307f1fbc.b4147",
        "type": "blindcontroller",
        "z": "34d5b010.8abea",
        "name": "guest",
        "mode": "Summer",
        "channel": "guest",
        "orientation": "154",
        "noffset": "",
        "poffset": "",
        "top": "2.3",
        "bottom": "1",
        "depth": "0",
        "altitudethreshold": "",
        "increment": "100",
        "maxopen": "",
        "maxclosed": "",
        "temperaturethreshold": "24",
        "temperaturethresholdposition": "100",
        "cloudsthreshold": "0.5",
        "cloudsthresholdposition": "100",
        "uvindexthreshold": "",
        "uvindexthresholdposition": "",
        "nightposition": "",
        "expiryperiod": "420",
        "opposite": "",
        "x": 690,
        "y": 820,
        "wires": [
            [
                "5894ce4.9b7113"
            ]
        ]
    },
    {
        "id": "e74d012b.8edb5",
        "type": "sunpos",
        "z": "34d5b010.8abea",
        "name": "sun position",
        "lon": "19.493367",
        "lat": "51.666359",
        "start": "sunrise",
        "startoffset": "",
        "end": "goldenHour",
        "endoffset": 0,
        "x": 370,
        "y": 820,
        "wires": [
            [
                "307f1fbc.b4147",
                "7412a9df.7d4c18"
            ]
        ]
    },
    {
        "id": "a17784ec.ea6c28",
        "type": "mqtt in",
        "z": "34d5b010.8abea",
        "name": "blind guest state",
        "topic": "ampio/from/8AC2/state/a/2",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "x": 140,
        "y": 880,
        "wires": [
            [
                "d52e8f26.53251"
            ]
        ]
    },
    {
        "id": "d52e8f26.53251",
        "type": "function",
        "z": "34d5b010.8abea",
        "name": "map topic",
        "func": "return { topic: 'blindstate', payload: msg.payload };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 880,
        "wires": [
            [
                "5894ce4.9b7113"
            ]
        ]
    },
    {
        "id": "5894ce4.9b7113",
        "type": "join",
        "z": "34d5b010.8abea",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 890,
        "y": 820,
        "wires": [
            [
                "29dbc9c.6e46f36"
            ]
        ]
    },
    {
        "id": "40e1b321.4b4fac",
        "type": "inject",
        "z": "34d5b010.8abea",
        "name": "10 min interval",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 820,
        "wires": [
            [
                "e74d012b.8edb5"
            ]
        ]
    },
    {
        "id": "e82e175a.a56658",
        "type": "e-mail",
        "z": "34d5b010.8abea",
        "server": "smtp.poczta.onet.pl",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "fcjuventus@poczta.onet.pl",
        "dname": "onet",
        "x": 1250,
        "y": 920,
        "wires": []
    },
    {
        "id": "a15d28c7.5fd9a8",
        "type": "function",
        "z": "34d5b010.8abea",
        "name": "map weather",
        "func": "if(msg.payload === null) return null;\n\nreturn { \n    topic: 'weather', \n    payload: {\n        clouds: msg.payload.clouds / 100,\n        windspeed: msg.payload.windspeed,\n        weather: msg.payload.weather,\n        rain: msg.payload.rain,\n        temp: msg.payload.tempc,\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 690,
        "y": 700,
        "wires": [
            [
                "307f1fbc.b4147",
                "5894ce4.9b7113"
            ]
        ]
    },
    {
        "id": "25c8dfa2.27441",
        "type": "mqtt out",
        "z": "34d5b010.8abea",
        "name": "blind guest",
        "topic": "ampio/to/8AC2/o/2/cmd",
        "qos": "",
        "retain": "",
        "broker": "190e1795.e65c88",
        "x": 1290,
        "y": 740,
        "wires": []
    },
    {
        "id": "29a0e3c5.ccd38c",
        "type": "inject",
        "z": "c1c0d025.7190c",
        "name": "down",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "ce69ceb3.24d0d"
            ]
        ]
    },
    {
        "id": "4dea7daeb2a8b212",
        "type": "influxdb out",
        "z": "f33ae946a1b71124",
        "influxdb": "49824722.da0c98",
        "name": "measurement",
        "measurement": "${measurement}",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "",
        "bucket": "",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "f036d4db5203aa3f",
        "type": "function",
        "z": "f33ae946a1b71124",
        "name": "parseFloat",
        "func": "var floatValue = parseFloat(msg.payload,2);\n\nreturn { payload: floatValue };",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "4dea7daeb2a8b212"
            ]
        ]
    },
    {
        "id": "101d46602317c710",
        "type": "mqtt in",
        "z": "f33ae946a1b71124",
        "name": "mqtt temp",
        "topic": "${topic}",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "nl": false,
        "rap": false,
        "x": 200,
        "y": 100,
        "wires": [
            [
                "f036d4db5203aa3f"
            ]
        ]
    },
    {
        "id": "49a1aedeb078827f",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "living temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C4/state/t/1",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "salon/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C4",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "ce307197fe24dbec",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "child S temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C5/state/t/1",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "blanka/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C5",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 210,
        "y": 120,
        "wires": []
    },
    {
        "id": "2c33d5ad56c90af6",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "child N temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C5/state/t/2",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "leon/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C5",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "2",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 210,
        "y": 160,
        "wires": []
    },
    {
        "id": "9dab98f92fe9eada",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "hall 1 temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C5/state/t/3",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "holpietro/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C5",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "3",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 200,
        "y": 200,
        "wires": []
    },
    {
        "id": "60cfb1ab5f22b5f4",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "entrance temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C7/state/t/1",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "entrance/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 220,
        "y": 240,
        "wires": []
    },
    {
        "id": "c2fba12d824295aa",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "bedroom temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C4/state/t/1",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "bedroom/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 220,
        "y": 280,
        "wires": []
    },
    {
        "id": "987d20203747cd46",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "bath 1 temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87CC/state/t/1",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "bath1/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 210,
        "y": 320,
        "wires": []
    },
    {
        "id": "05cb59878a9beb5a",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "laundry temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87CC/state/t/2",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "laundry/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 210,
        "y": 360,
        "wires": []
    },
    {
        "id": "4f15b406b77d3fe8",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "bath 0 temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87D2/state/t/1",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "bath0/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 210,
        "y": 400,
        "wires": []
    },
    {
        "id": "a03a6c9d0d2f6c1e",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "guest temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87D2/state/t/2",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "guest/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 210,
        "y": 440,
        "wires": []
    },
    {
        "id": "bca0395218f14aeb",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "store temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87D2/state/t/3",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "store/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 200,
        "y": 480,
        "wires": []
    },
    {
        "id": "95eceeb51a351eaf",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "wardrobe temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C4/state/t/2",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "wardrobe/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 220,
        "y": 520,
        "wires": []
    },
    {
        "id": "a83f69a2f95a02c6",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "external temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C4/state/t/3",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "external/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 210,
        "y": 560,
        "wires": []
    },
    {
        "id": "29d0618eb44342c2",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "boiler temp",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/0001/state/t/2",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "boiler/temp",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 210,
        "y": 600,
        "wires": []
    },
    {
        "id": "f94065d494643a5b",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "guest valve",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C4/state/o/2",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "guest/heat/valve",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "c76a5d0337b00e37",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "garage valve",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C4/state/o/1",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "garage/heat/valve",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 430,
        "y": 120,
        "wires": []
    },
    {
        "id": "1b7a48b7b3d06ba4",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "bath 0 valve",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C4/state/o/3",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "bath0/heat/valve",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 430,
        "y": 160,
        "wires": []
    },
    {
        "id": "3dd345bcbd1b43fa",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "living valve",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C4/state/o/4",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "living/heat/valve",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 420,
        "y": 200,
        "wires": []
    },
    {
        "id": "d23abe933ec328bb",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "entrance valve",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C4/state/o/5",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "entrance/heat/valve",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 440,
        "y": 240,
        "wires": []
    },
    {
        "id": "f310ef11291a1dd3",
        "type": "subflow:f33ae946a1b71124",
        "z": "10842f61.22bf81",
        "name": "bath 1 valve",
        "env": [
            {
                "name": "topic",
                "value": "ampio/from/87C4/state/o/6",
                "type": "str"
            },
            {
                "name": "measurement",
                "value": "bath1/heat/valve",
                "type": "str"
            },
            {
                "name": "deviceId",
                "value": "87C7",
                "type": "str"
            },
            {
                "name": "sensorId",
                "value": "1",
                "type": "str"
            },
            {
                "name": "dbId",
                "value": "salon/temp",
                "type": "str"
            }
        ],
        "x": 430,
        "y": 280,
        "wires": []
    },
    {
        "id": "d2fb60fe1a0c4264",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "5cbddeec3ebca9d3"
            ]
        ]
    },
    {
        "id": "26e92cb7cd673338",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "5cbddeec3ebca9d3"
            ]
        ]
    },
    {
        "id": "c4b1fc758e361eda",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "5ad37faa489a2055"
            ]
        ]
    },
    {
        "id": "87cdb75cf77255c6",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "5ad37faa489a2055"
            ]
        ]
    },
    {
        "id": "2d8c1f4c1a5eef21",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "212242137757e295"
            ]
        ]
    },
    {
        "id": "5f472c37e0afa7a7",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "255",
        "payloadType": "num",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "212242137757e295"
            ]
        ]
    },
    {
        "id": "f9cf6eb21ebb1f38",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "1a2e6fb410d9c33b"
            ]
        ]
    },
    {
        "id": "3fe23f9c68454879",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "1a2e6fb410d9c33b"
            ]
        ]
    },
    {
        "id": "ad86f2e14605cd29",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "27957a451118d5a1"
            ]
        ]
    },
    {
        "id": "f22caba087911c84",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "27957a451118d5a1"
            ]
        ]
    },
    {
        "id": "9f7d123a4b857c73",
        "type": "mqtt out",
        "z": "51751d6da98303cc",
        "name": "light",
        "topic": "${toTopic}",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "190e1795.e65c88",
        "x": 370,
        "y": 180,
        "wires": []
    },
    {
        "id": "a32469b7d115cbdf",
        "type": "mqtt in",
        "z": "51751d6da98303cc",
        "name": "light",
        "topic": "${fromTopic}",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "nl": false,
        "rap": false,
        "x": 370,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2154b0b2513fea14",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "guest light",
        "env": [
            {
                "name": "toTopic",
                "value": "guest_ceiling_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "guest_ceiling_light_topic_from",
                "type": "env"
            },
            {
                "name": "inputTopic",
                "value": "${guest_ceiling_light_topic_to}",
                "type": "str"
            },
            {
                "name": "outputTopic",
                "value": "{guest_ceiling_light_topic_from}",
                "type": "str"
            }
        ],
        "x": 1150,
        "y": 160,
        "wires": []
    },
    {
        "id": "b27ddb7dd5ab9cfd",
        "type": "mqtt in",
        "z": "88a0490b5ee9139a",
        "name": "guest sensor",
        "topic": "ampio/from/7FA7/state/bi/8",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "nl": false,
        "rap": false,
        "x": 790,
        "y": 160,
        "wires": [
            [
                "d9406fe4f2d08df2"
            ]
        ]
    },
    {
        "id": "d9406fe4f2d08df2",
        "type": "trigger",
        "z": "88a0490b5ee9139a",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 970,
        "y": 160,
        "wires": [
            [
                "2154b0b2513fea14"
            ]
        ]
    },
    {
        "id": "6423525f0b11054c",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "44cfcc2ed0e90e51"
            ]
        ]
    },
    {
        "id": "70cb3e69addc699d",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "44cfcc2ed0e90e51"
            ]
        ]
    },
    {
        "id": "c99de35adbae173f",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 500,
        "wires": [
            [
                "170032a92c297c86"
            ]
        ]
    },
    {
        "id": "d36ac266da62e0e6",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "170032a92c297c86"
            ]
        ]
    },
    {
        "id": "40629b994a7a0dfd",
        "type": "mqtt in",
        "z": "88a0490b5ee9139a",
        "name": "blanka sensor",
        "topic": "ampio/from/7FA7/state/bi/4",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "nl": false,
        "rap": false,
        "x": 790,
        "y": 260,
        "wires": [
            [
                "5e850ebec75c0720"
            ]
        ]
    },
    {
        "id": "5e850ebec75c0720",
        "type": "trigger",
        "z": "88a0490b5ee9139a",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 970,
        "y": 260,
        "wires": [
            [
                "8380894b1144dd3d",
                "e666195b28b14551"
            ]
        ]
    },
    {
        "id": "bc5e5619944ba8c6",
        "type": "mqtt in",
        "z": "88a0490b5ee9139a",
        "name": "leon sensor",
        "topic": "ampio/from/7FA7/state/bi/13",
        "qos": "2",
        "datatype": "auto",
        "broker": "190e1795.e65c88",
        "nl": false,
        "rap": false,
        "x": 790,
        "y": 380,
        "wires": [
            [
                "a82c084291153d74"
            ]
        ]
    },
    {
        "id": "a82c084291153d74",
        "type": "trigger",
        "z": "88a0490b5ee9139a",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 970,
        "y": 380,
        "wires": [
            [
                "6c306fcf2b3efd93",
                "6be255de62ccb47f"
            ]
        ]
    },
    {
        "id": "d5ec83a2b9f89a70",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 740,
        "wires": [
            [
                "2fddb551df0cba1a"
            ]
        ]
    },
    {
        "id": "5d374b60711c5a37",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 780,
        "wires": [
            [
                "2fddb551df0cba1a"
            ]
        ]
    },
    {
        "id": "ac98f29ba6710a3d",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "bb9e60177519183b"
            ]
        ]
    },
    {
        "id": "10aa70e161befe74",
        "type": "inject",
        "z": "88a0490b5ee9139a",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "bb9e60177519183b"
            ]
        ]
    },
    {
        "id": "e666195b28b14551",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "child s ceiling light",
        "env": [
            {
                "name": "toTopic",
                "value": "child_s_ceiling_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "child_s_ceiling_light_topic_from",
                "type": "env"
            }
        ],
        "x": 1170,
        "y": 280,
        "wires": []
    },
    {
        "id": "8380894b1144dd3d",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "child s wall light",
        "env": [
            {
                "name": "toTopic",
                "value": "child_s_wall_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "child_s_wall_light_topic_from",
                "type": "env"
            }
        ],
        "x": 1160,
        "y": 220,
        "wires": []
    },
    {
        "id": "27957a451118d5a1",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "dining light",
        "env": [
            {
                "name": "toTopic",
                "value": "dining_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "dining_light_topic_from",
                "type": "env"
            }
        ],
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "6c306fcf2b3efd93",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "child n wall light",
        "env": [
            {
                "name": "toTopic",
                "value": "child_n_wall_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "child_n_wall_light_topic_from",
                "type": "env"
            }
        ],
        "x": 1160,
        "y": 340,
        "wires": []
    },
    {
        "id": "6be255de62ccb47f",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "child s ceiling light",
        "env": [
            {
                "name": "toTopic",
                "value": "child_n_ceiling_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "child_n_ceiling_light_topic_from",
                "type": "env"
            }
        ],
        "x": 1170,
        "y": 400,
        "wires": []
    },
    {
        "id": "5ad37faa489a2055",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "guest light",
        "env": [
            {
                "name": "toTopic",
                "value": "guest_ceiling_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "guest_ceiling_light_topic_from",
                "type": "env"
            },
            {
                "name": "inputTopic",
                "value": "${guest_ceiling_light_topic_to}",
                "type": "str"
            },
            {
                "name": "outputTopic",
                "value": "{guest_ceiling_light_topic_from}",
                "type": "str"
            }
        ],
        "x": 390,
        "y": 440,
        "wires": []
    },
    {
        "id": "170032a92c297c86",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "child s wall light",
        "env": [
            {
                "name": "toTopic",
                "value": "child_s_wall_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "child_s_wall_light_topic_from",
                "type": "env"
            }
        ],
        "x": 400,
        "y": 520,
        "wires": []
    },
    {
        "id": "44cfcc2ed0e90e51",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "child s ceiling light",
        "env": [
            {
                "name": "toTopic",
                "value": "child_s_ceiling_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "child_s_ceiling_light_topic_from",
                "type": "env"
            }
        ],
        "x": 410,
        "y": 600,
        "wires": []
    },
    {
        "id": "bb9e60177519183b",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "child n wall light",
        "env": [
            {
                "name": "toTopic",
                "value": "child_n_wall_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "child_n_wall_light_topic_from",
                "type": "env"
            }
        ],
        "x": 400,
        "y": 680,
        "wires": []
    },
    {
        "id": "2fddb551df0cba1a",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "child s ceiling light",
        "env": [
            {
                "name": "toTopic",
                "value": "child_n_ceiling_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "child_n_ceiling_light_topic_from",
                "type": "env"
            }
        ],
        "x": 410,
        "y": 760,
        "wires": []
    },
    {
        "id": "1a2e6fb410d9c33b",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "living garden light",
        "env": [
            {
                "name": "toTopic",
                "value": "living_garden_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "living_garden_light_topic_from",
                "type": "env"
            }
        ],
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "5cbddeec3ebca9d3",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "living entrance light",
        "env": [
            {
                "name": "toTopic",
                "value": "living_entrance_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "living_entrance_light_topic_from",
                "type": "env"
            }
        ],
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "212242137757e295",
        "type": "subflow:51751d6da98303cc",
        "z": "88a0490b5ee9139a",
        "name": "living main light",
        "env": [
            {
                "name": "toTopic",
                "value": "living_main_light_topic_to",
                "type": "env"
            },
            {
                "name": "fromTopic",
                "value": "living_main_light_topic_from",
                "type": "env"
            }
        ],
        "x": 400,
        "y": 120,
        "wires": []
    }
]